$app-width: 900px;
$header-height: 5rem;

:root {
  --clr-primary: #3f91b8;
  --clr-primary-dark: #235069;
  --clr-primary-light: #c9e1ee;

  --clr-background: white;
  --clr-background-transparent: #fffa;
  --clr-text: black;
  --clr-text-contrast: white;
  --clr-shadow: #0003;

  --card-width: 320px;
  --card-height: 420px;
}
