.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0.5rem var(--clr-shadow);
  transition: box-shadow 0.5s;

  .imageWrapper {
    width: 100%;
    height: 55%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
  }

  .price {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0 1rem;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--clr-text-contrast);
    background-color: var(--clr-primary);
  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .description {
      color: var(--clr-primary);
    }

    .date {
      margin-top: auto;
      opacity: 0.7;
      font-size: 0.8em;
    }
  }

  &:hover {
    box-shadow: 2px 2px 1rem var(--clr-shadow);

    .image {
      transform: scale(1.05);
    }
  }
}
