.card {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0.5rem var(--clr-shadow);
  transition: box-shadow 0.5s;

  .imageWrapper {
    width: 100%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s 0.2s;
    }
  }

  .name {
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--clr-primary);
  }

  &:hover {
    box-shadow: 2px 2px 1rem var(--clr-shadow);

    .image {
      transform: scale(1.05);
    }
  }
}
