.wrapper {
  display: flex;
  border: 2px solid var(--clr-primary);
  border-radius: 2rem;
  overflow: hidden;

  .inputWrapper {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    gap: 0.5rem;

    .icon {
      flex-shrink: 0;
      font-size: 1.5em;
      color: var(--clr-primary);
    }

    .input {
      width: 100%;
      font-size: 1.2rem;
      border: 0;
      outline-color: transparent;
    }
  }

  .submit {
    width: 4rem;
    font-size: 1.5rem;
    flex-shrink: 0;
    background-color: var(--clr-primary);
    color: var(--clr-text-contrast);

    &:active {
      background-color: var(--clr-primary-dark);
    }
  }

  &:focus-within {
    border-color: var(--clr-primary-dark);

    .icon {
      color: var(--clr-primary-dark);
    }
  }
}
