.wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  .image {
    width: 100%;
    height: 100%;
    max-width: min(30vw, 800px);
    max-height: 50vh;
    object-fit: cover;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.8rem;
  }
}
