@use '../../styles/variables' as vars;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: vars.$header-height;
  padding: 1rem 2rem;

  .links {
    display: flex;

    .link {
      padding: 0.5rem 1rem;
      border-radius: 1rem;

      &.active {
        background-color: salmon;
      }
    }
  }
}
